<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mobile test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="936774">  <td>21/07/30 12:49:39</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeTest(org.testng.ITestContext)[pri:0, instance:MultipleServiceTest@3911c2a7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="e5a7da">  <td>21/07/30 12:50:14</td>   <td>34148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTest.LogInTest()[pri:0, instance:SignInTest@2473d930]">LogInTest</td> 
  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="beaaf1">  <td>21/07/30 12:51:01</td>   <td>81963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleServiceTest.HomePageTest()[pri:0, instance:MultipleServiceTest@3911c2a7]">HomePageTest</td> 
  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>21/07/30 12:52:49</td>   <td>189311</td> <td title="&lt;&lt;BaseClass.afterTest(org.testng.ITestContext)[pri:0, instance:MultipleServiceTest@3911c2a7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1089418272</td>   <td></td> </tr>
</table>
